<div class="container">
    <div class="card">
  <div class="card-body">
    <h4>Contact Us!</h4>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, natus illum! Pariatur iste deserunt quo sint?
        Quidem recusandae sunt totam ratione veritatis cumque repudiandae, fuga nostrum ipsam ullam! Sint, recusandae.
    </p>
  </div>
</div>
</div>