<div class="jumbotron jumbotron-fluid">
    <div class="container py-5">
        <h1 class="display-4 lol">Express js Application</h1>
        <p class="lead lol">A Simple Express js Application!</p>
    </div>
</div>

<div class="container">

<div class="row">
    <div class="col-md-4">
        <h4>Heading 1</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione at, veniam totam doloribus fugiat officiis
            blanditiis maiores, a nam eaque quae enim! Iure quisquam doloribus culpa fugiat, totam distinctio quam.
        </p>
    </div>
    <div class="col-md-4">
         <h4>Heading 2</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione at, veniam totam doloribus fugiat officiis
            blanditiis maiores, a nam eaque quae enim! Iure quisquam doloribus culpa fugiat, totam distinctio quam.
        </p>
    </div>
    <div class="col-md-4">
         <h4>Heading 3</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione at, veniam totam doloribus fugiat officiis
            blanditiis maiores, a nam eaque quae enim! Iure quisquam doloribus culpa fugiat, totam distinctio quam.
        </p>
    </div>
</div>
</div>