<div class="container">
    <div class="py-5">
        <h3 class="lol">Add Your Description!</h3>

        <form action="/add/React" method="post">
            <div class="form-group">
                <label>Express Title</label>
                <input type="text" class="form-control" placeholder="Enter Your title!!!" name="title">
            </div>

            <div class="form-group">
                <label>Express Description</label>
                <textarea  cols="30" rows="10" class="form-control"
                    placeholder="Enter Your Descriptions" name="body"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Post Description</button>

        </form>
    </div>
</div>